html {
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background: #d4d4d2;
	font-family: "Montserrat", sans-serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	display: flex;
	flex-direction: column;
	background: black;
	max-height: auto;
	max-width: auto;
	padding: 2em 1.1em;
	gap: 15px;
	border-radius: 40px;
	border: rgb(120, 118, 118) solid 4px;
}

#screen {
	display: flex;
	width: auto;
	height: 170px;
	justify-content: flex-end;
	align-items: end;
}

#screen-numbers {
	font-size: 3.35rem;
	color: white;
	font-style: bold;
	padding-right: 0.3em;
}

#button-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.button,
.operator,
.top-row-button,
.period {
	font-size: 2.25rem;
	padding: 0.5em;
	border: none;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}

.button,
.period {
	background: #505050;
	color: white;
	transition: 0.15s ease;
}

.operator {
	background: #ff9500;
	color: white;
}

.top-row-button {
	background: #d4d4d2;
	color: black;
	transition: 0.15s ease;
}

.big-button {
	font-size: 2.25rem;
	grid-column: span 2;
	border: none;
	border-radius: 40px;
	background: #505050;
	color: white;
	text-align: left;
	padding-left: 0.8em;
	cursor: pointer;
}

.grey-pulse {
	box-shadow: inset 0 0 5rem #d4d4d2;
}

.white-pulse {
	box-shadow: inset 0 0 5rem white;
}

#operate {
	font-size: 2.25rem;
	padding: 0.5em;
	border: none;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	background: #ff9500;
	color: white;
	transition: 0.15s ease;
}
